
p {
  font-size: 30px;
  text-align: center;
}

h2 {
  color: brown;
  font-size: 80px;
  text-align: center;
}
#img1 {
  padding-left: 100px;
}
body{
  height: 900px;
  background-image: linear-gradient(to bottom right, powderblue, yellow);
}
hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 40%;
}
#table2{
  padding-top: none;
  padding-left: 150px;
}
h3 {
  text-align: center;
}
a {
padding-left: 60px;
}
